#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.card {
  padding: 2em;
}

.EngKeyboard {
  position: relative;
  visibility: collapse;
  text-align: center;
  margin: auto;
  display: block;
}

.HebKeyboard {
  top: -120px;
  position: relative;
  text-align: center;
  margin: auto;
  display: block;
}

.NumbersKeyboard {
  position: relative;
  visibility: visible;
  text-align: center;
  margin: auto;
  display: block;
}

.SpecialChars {
  position: relative;
  visibility: collapse;
  text-align: center;
  margin: auto;
  display: block;
  top: -120px;
}

.EmojiesKeyboard {
  position: relative;
  visibility: collapse;
  text-align: center;
  margin: auto;
  display: block;
  top: -120px;
}

.space {
  width: 200px;
  /* border: 1.5px solid black; */
}

.App {
  top: 200px;
}

.options {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}

select {
  padding: 7px;
  border: 1.5px solid black;
  border-radius: 3px;
}

#text-input {
  margin-top: 10px;
  border: 1.5px solid black;
  padding: 20px;
  height: 20vh;
  /* width: 400px;
  align-content: center; */
}

.active {
  background-color: #e0e9ff;
}

button:hover {
  border: 1px solid rgb(234, 15, 52);
  transition: 1s;
}

.KeyboardOptions,
.KeyboardInputs {
  position: relative;
  text-align: center;
  margin: auto;
  display: block;
}

.font-color {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
